// colors
$primaryColor:#95e1d3;
$secondaryColors: #333333;
$redColor:#f38181;
$yellowColor:#fce38a;
$lightGreyText: #999999;
$bgColorSections: #f8f8f8;
$whiteColor:#fff;
$overlayGradient:-webkit-linear-gradient(top, rgba(243,129,129,0.8) 0%,rgba(252,227,138,0.8) 100%);



// $lightGreyBackground:#f9faff;
// $gradientColor: "linear-gradient(left, rgba(30,87,153,1) 0%,rgba(176,48,254,1) 0%,rgba(117,72,251,1) 100%)";
// $buttonGradientBgColor : "linear-gradient(to right, #bc2bff 0%, #7249fb 51%, #bc2bff 100%)";
// $bgColorGradient:-webkit-linear-gradient(0deg, #bc2bff 0%, #7249fb 100%);
// $lightPurpleBgColor:#f9f9ff;

// fonts
$Montserrat-Bold:"Montserrat-Bold";
$Montserrat-Regular: 'Montserrat-Regular';
$KaushanScript-Regular:'KaushanScript';
$Roboto-Bold :"Roboto-Bold";
$Roboto-Regular:"Roboto-Regular";
$Roboto-LightItalic:"Roboto-LightItalic";

// font size 
$htmlFontSize:15px;





// section header style
$sectionHeaderStyle:sec-header-style;

// footer instagram
$footerInsta:insta1,insta2,insta3,insta4,insta5,insta6,insta7,insta8,insta9;






